*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg);
  color:var(--text);

  font-family:Inter, sans-serif;
}

button,
input{
  font:inherit;
}

a{
  text-decoration:none;
  color:inherit;
}

html{
  scroll-behavior:smooth;
}