<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esteroids | Checkout</title>
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/shop.css}">
  <link rel="icon" type="image/svg+xml" th:href="@{/images/icons/smile-svgrepo-com.svg}">
</head>

<body>

  <!-- NAVBAR -->

  <header class="navbar">
    <div class="logo">Esteroids</div>
    <div class="mobile-menu" id="mobileMenu">
      <nav class="nav-links">
        <a th:href="@{shop}">Catálogo</a>
        <a th:href="@{/cart}">Carrinho</a>
      </nav>
    </div>
    <button class="menu-toggle" id="menuToggle">☰</button>
  </header>

  <!-- HEADER -->

  <section class="checkout-header">
    <a th:href="@{/}" class="back-link">← Voltar para loja</a>
    <h1>Checkout</h1>
    <p>Finalize sua compra com segurança.</p>
  </section>

  <!-- LAYOUT -->

  <main class="checkout-layout">

    <!-- FORM -->

    <section class="checkout-form-container">

      <!--INFORMAÇÕES PESSOAIS-->

      <form class="checkout-form" th:action="@{/checkout}" method="post">
        <div class="checkout-section">
          <h2>Informações Pessoais</h2>
          <div class="checkout-grid">
            <div class="input-group">
              <label>Nome Completo</label>
              <input type="text" placeholder="Seu nome">
            </div>
            <div class="input-group">
              <label>Email</label>
              <input type="email" placeholder="email@email.com">
            </div>
          </div>
        </div>

        <!-- ENTREGA -->

        <div class="checkout-section">
          <h2>Endereço de Entrega</h2>
          <div class="checkout-grid">
            <div class="input-group">
              <label>CEP</label>
              <input type="text" placeholder="00000-000">
            </div>
            <div class="input-group">
              <label>Cidade</label>
              <input type="text" placeholder="Sua cidade">
            </div>
          </div>

          <div class="input-group">
            <label>Endereço</label>
            <input type="text" placeholder="Rua, número...">
          </div>
        </div>

        <!-- PAGAMENTO -->

        <div class="checkout-section">
          <h2>Pagamento</h2>
          <div class="checkout-grid">
            <div class="input-group">
              <label>Número do Cartão</label>
              <input type="text" placeholder="0000 0000 0000 0000">
            </div>
            <div class="input-group">
              <label>Nome no Cartão</label>
              <input type="text" placeholder="Nome impresso">
            </div>
          </div>
          <div class="checkout-grid">
            <div class="input-group">
              <label>Validade</label>
              <input type="text" placeholder="MM/AA">
            </div>
            <div class="input-group">
              <label>CVV</label>
              <input type="text" placeholder="123">
            </div>
          </div>
        </div>
      </form>
    </section>

    <!-- SUMMARY -->

    <aside class="checkout-summary">
      <h2>Resumo do Pedido</h2>
      <div class="summary-product" th:each="item : ${cart}">
        <span th:text="${item.product.name}"></span>
        <span>
          R$
          <span th:text="${item.subtotal}"></span>
        </span>
      </div>
      <div class="summary-divider"></div>
      <span>
        R$
        <span th:text="${total}"></span>
      </span>
      <div class="summary-row">
        <span>Frete</span>
        <span>R$ 29,90</span>
      </div>
      <div class="summary-row total-row">
        <span>Total</span>
        <span>
          R$
          <span th:text="${total + 29.90}"></span>
        </span>
      </div>
      <form action="/checkout" method="post">
        <button class="primary-btn checkout-btn">Confirmar Compra</button>
      </form>
    </aside>
  </main>
  <script th:src="@{/js/main.js}" defer></script>
</body>
</html>