<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esteroids Auth</title>
  <link rel="stylesheet" th:href="@{/css/variables.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/auth.css}">
  <link rel="icon" type="image/svg+xml" th:href="@{/images/icons/smile-svgrepo-com.svg}">
</head>
<body>
  <main class="auth-container">

    <!-- LEFT SIDE -->

    <section class="auth-banner">
      <div class="overlay"></div>
      <div class="banner-content">
        <span class="badge">Figures Premium</span>
        <h1>Colecione seus personagens favoritos.</h1>
        <p>Figures exclusivas para verdadeiros fãs de anime, games e fantasia.</p>
      </div>
    </section>

    <!-- RIGHT SIDE -->

    <section class="auth-panel">
      <div class="auth-box">
        <div class="auth-header">
          <a th:href="@{/}" class="back-link">← Voltar para loja</a>
          <h2 id="form-title">Login</h2>
          <p>Entre para acessar sua conta.</p>
        </div>

        <!-- LOGIN -->

        <form class="auth-form" id="login-form" th:action="@{/auth}" method="post">
          <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu email" required>
          </div>

          <div class="input-group">
            <label>Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
          </div>
          <div th:if="${param.erro != null}" class="error-message">
              Email ou senha inválidos.
          </div>
          <button class="primary-btn">Entrar</button>
        </form>

        <!-- SIGNUP -->

        <form class="auth-form hidden" id="signup-form" th:action="@{/signup}" method="post">
          <div class="input-group">
            <label>Nome</label>
            <input type="text" name="username" placeholder="Digite seu nome" required>
          </div>
          <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu email" required>
          </div>
          <div class="input-group">
            <label>Senha</label>
            <input type="password" name="password" placeholder="Crie uma senha" required>
          </div>
          <div class="input-group">
            <label>Confirmar senha</label>
            <input type="password" name="confirmPassword" placeholder="Repita sua senha" required>
          </div>
          <button class="primary-btn">Criar Conta</button>
        </form>

        <!-- TOGGLE -->

        <div class="auth-toggle">
          <span id="toggle-text">Não possui conta?</span>
          <button id="toggle-btn">Criar conta</button>
        </div>
      </div>
    </section>
  </main>
  <script th:src="@{/js/main.js}" defer></script>
</body>
</html>