<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de usuario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/usuario}" method=post th:object="${user}">
    	Nome: <input type="text" th:field="*{username}"><br>
    	E-mail: <input type="text" th:field="*{email}">
        Senha: <input type="text" th:field="*{password}">
    	<input type="submit" value="Cadastrar">
    </form>
</body>
</html>